body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.hero img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background: #1a252f;
}

.images img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}


footer {
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
